{% extends 'namelist/base.html' %}
 {% block main_content %}

{% load static %}





<img src="{% static 'blog/images/blog.png' %}" width="50" height="50"><p>

<b>Blog - Write something nice.</b>

<form action="/blog/blog_entry/" method="POST" id="blog_entry_form">
 {% csrf_token %}
<textarea name="blog_text" form="blog_entry_form">Enter text here...</textarea><br>
<input type="submit">

<ul>
{% for item in blog reversed %}
<br>[{{item.pub_date}}]<li> <b>{{item.blog_text}}</b> <a href = "/blog/{{item.id}}">[Add Comment]</a></li>


    {% for i in comment %}
    {% if i.blog_id == item.id %}
        [Comment]{{i.comment}}<br>
    {% endif %}
    {% endfor %}

{% endfor %}

</ul>

{% endblock %}
